doctype html
html
	block head   
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-3.4.1.min.js')
	body
		header#banner   
			h1 Clientes (recepcion de notificaciones)
		block content
		footer 2019 - Apps en Internet 
