extends layoutAdmin
block content
	section#chatroom
		div#messages
		input#message(type='text', placeholder='Ingresar notificaciòn aqui')
		input#send(type='button', value='Enviar')

block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/client2.js')