extends layoutClients
block content
	section#chatroom
		div#messages

block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/client1.js')